<header class="intro-header" style="background-image:url(<%= asset_path "login-bg.jpg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>サインアップ</h1>
          <hr class="small">
          <span class="subheading">下記からサインアップしてください。</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス", required: true %>
        </div>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= f.label :password, "パスワード (" + @minimum_password_length.to_s + "桁以上入力してください)" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        </div>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "再度パスワード入力" %>
        </div>
      </div>
      <div id="success"></div>
      <div class="row">
        <div class="form-group col-xs-12">
          <%= f.submit "サインアップ", class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>