

<%= form_for(@topic, url: choose_new_or_edit, html: {multipart: true}) do |f| %>
<% if @topic.errors.any? %>
  <div id="error_explanation">
    <h2><%= @topic.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>

<div class="field">
  <%= f.text_field :title, class:'form-control', placeholder: "タイトル" %>
</div>

<div class="field">
  <%= f.text_field :text, class:'form-control', placeholder: "内容" %>
</div>

<div class="field">
  <%= image_tag @topic.picture if @topic.picture? %>
  <%= f.file_field :picture, class: "btn btn-default" %>
  <%= f.hidden_field :picture_cache %>
</div>

<hr>

<div class="actions">
  <%= f.submit '投稿', class:'btn btn-default' %>
</div>
<% end %>

<%= link_to "投稿一覧画面にもどる", topics_path %>