<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %> <%= current_user.name %></p>
    <h1>写真一覧</h1>
      <%= link_to "投稿する", new_picture_path, class: 'btn btn-default' %>
      <hr/>
    <% @pictures.each do |picture| %>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title"><strong>タイトル：<%= picture.title %></strong></h2>
          <h4 class="panel-title"><small>投稿日：<%= picture.created_at.to_s %></small></h4>
        </div>
        <div class="panel-body">
          <p><%= picture.content %></p>
          <%= image_tag(picture.picture, alt: picture.title )%>
        </div>
        <div class="panel-footer">
          <h4 class="panel-title">投稿者：<%= picture.user.name ? picture.user.name : picture.user.email + " (名前を登録していないとメールアドレスを表示します。)"%></h4>        
        </div>
      </div>
      <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      <hr/>
    <% end %>
  </div>
</div>

